---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Privacy and Trust"
	description="Privacy Policy"
	pubDate={new Date('November 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		1. Introduction
Welcome to the SBASP SHOP. We value your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and share information when you visit our website shop.sbasp.com and purchase our products.
2. Information We Collect
Personal Information: When you make a purchase or create an account, we collect personal information such as your name, email address, shipping address, and payment information.
Usage Data: We collect information about your interactions with our Site, including IP address, browser type, pages visited, and the time and date of your visit.
Cookies: We use cookies and similar tracking technologies to enhance your experience on our Site. You can manage your cookie preferences through your browser settings.
3. How We Use Your Information
We use the information we collect to:
Process and fulfill your orders.
Communicate with you about your orders, products, and promotions.
Improve our Site and customer service.
Comply with legal obligations.
4. Sharing Your Information
We do not sell your personal information. We may share your information with:
Service Providers: Third-party vendors who assist us in operating our Site, processing payments, and delivering products. (Stripe payments)
Legal Requirements: If required by law, we may disclose your information to comply with legal processes or protect our rights.
5. Data Security
We implement appropriate security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction.
6. Your Rights
You have the right to:
Access and update your personal information.
Request the deletion of your personal information.
Opt-out of marketing communications.
7. Changes to This Privacy Policy
We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated effective date.
8. Contact Us
If you have any questions or concerns about this Privacy Policy, please contact us at contact@sbasp.com.
	</p>
</Layout>
