---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>News and Guidance Show</h1>
<i>
News and Guidance is a notebookLM collaboration with Steve In Texas
</i>
			<p>
This docu-show serves as a snapshot of a specific day, by compiling a daily news summary aggregated from various online sources like Hacker News, NPR, and Western Networks, alongside local snippets from a rotating selection of cities. It aims to provide a diverse overview of events ranging from technology outages and corporate actions to national and cybersecurity news. Furthermore, the inclusion of daily Proverbs offers a thematic lens through which to consider the ethical implications of the reported events, prompting reflection on actions rooted in wickedness or violence. Ultimately, the document blends factual reporting with moral guidance, encouraging readers to critically engage with the day's happenings. 
			</p>
			<h2>Here are a few ways to find and support the program!</h2>
			<ul>
				<li>Find us in your favorite Podcasting 2.0 apps: <a href="https://podcastindex.org/podcast/7329710">link</a></li>
				<li>Substack: <a href="https://sbasp.substack.com/s/news-and-guidance-show">link</a></li>
				<li>Youtube: <a href="https://www.youtube.com/playlist?list=PLAOjFiFd6ovMpyR8vFRinQ4DJrFUgP2Qf">link</a></li>
			</ul>
			<h2>Upcoming special reports</h2>
				<li>NAGSR7 - Functional Ecology</li>
				<li>NAGSR8 - Green Energy Gut Check</li> <a href="https://primal.net/e/nevent1qqsxwm05dg2j2e4dwt3pxq4u6eud8tz7z0kmv3gayhlashzdpc8xtrc0auvcc">link</a>

        <!-- EMBED -->
        <div class="aspect-[1/5] bg-gray-50">
		  <h3>NOSTR SOCIAL PREVIEW</h3>
          <iframe
            src="https://primal.net/e/nevent1qqsxwm05dg2j2e4dwt3pxq4u6eud8tz7z0kmv3gayhlashzdpc8xtrc0auvcc"
      width: 600px;
      height: 500px;
      border: 2px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            sandbox="allow-scripts allow-same-origin allow-popups"
          ></iframe>
        </div>

				<li>University of Chicago Press funding and history</li>
				<li>Center for Internet Security guidelines update / Microsoft Security settings catch-up</li>
			<h2>Most recent episode</h2>
				<li><a href="https://sbasp.substack.com/p/nagsr6-spiritual-holy-trek-initiative">NAGSR6 - Spiritual holy trek initiative</a></li>
				<li><a href="https://open.substack.com/pub/sbasp/p/nag16-10122025-news-and-guidance">NAG16-10.12.2025 - Spotlight: Austin, Texas</a></li>
				<br>
				<img src="/blog-NAGSR6.png">
		</main>
		<Footer />
	</body>
</html>
