---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>News and Guidance Show</h1>
<i>
News and Guidance is a notebookLM collaboration with Steve In Texas
</i>
			<p>
This docu-show serves as a snapshot of a specific day, by compiling a daily news summary aggregated from various online sources like Hacker News, NPR, and Western Networks, alongside local snippets from a rotating selection of cities. It aims to provide a diverse overview of events ranging from technology outages and corporate actions to national and cybersecurity news. Furthermore, the inclusion of daily Proverbs offers a thematic lens through which to consider the ethical implications of the reported events, prompting reflection on actions rooted in wickedness or violence. Ultimately, the document blends factual reporting with moral guidance, encouraging readers to critically engage with the day's happenings. 
			</p>
			<h2>Here are a few ways to find and support the program!</h2>
			<ul>
				<li>Find us in your favorite Podcasting 2.0 apps: <a href="https://podcastindex.org/podcast/7329710">link</a></li>
				<li>Substack: <a href="https://sbasp.substack.com/s/news-and-guidance-show">link</a></li>
				<li>Youtube: <a href="https://www.youtube.com/playlist?list=PLAOjFiFd6ovMpyR8vFRinQ4DJrFUgP2Qf">link</a></li>
			</ul>
			<h2>Upcoming episodes</h2>
				<li>Special Report - Key Eras and Art in Islamic Formation</li>
				<li>Special Report - University of Chicago Press funding and history</li>
				<li>Special Report - Center for Internet Security guidelines update / Microsoft Security settings catch-up</li>
			<h2>Most recent episode</h2>
				<li><a href="https://sbasp.substack.com/p/nag-sr5-key-eras-and-art-in-islamic">NAGSR5: Key Eras and Art in Islamic Formation</a></li>
				<li><a href="https://open.substack.com/pub/sbasp/p/nag15100225-spotlight-osaka-japan">NAG15.10.02.25 - Spotlight: Osaka, Japan</a></li>
				<br>
				<img src="/blog-nagart.png">
		</main>
		<Footer />
	</body>
</html>
